body {
  margin: 0px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.logo {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #0B800F;
  text-shadow: 4px 4px white;
  transition: 0.5s;
}

.logo.active {
  opacity: 0;
}

form {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
  align-items: center;


}

form.active {
  height: 15vh;
  transition: 1s
}

form input,
form button {

  border-radius: 10px;
  border: 2px solid green;
  background: rgba(75, 204, 86, 0.6);
  color: white;
  letter-spacing: 1px;
}

form input {

  width: 50vw;
  margin: 4vh auto 4vh auto;
  padding: 15px 20px;
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
  flex-grow: 5;
  transition: 0.2s
}

form input::placeholder {
  color: white;
  letter-spacing: 1px;
}

form input:focus {
  border: 2px solid hsl(356, 82%, 55%);
  outline: none;
  background-color: rgba(234, 41, 56, 0.5);
}

form button {
  margin: 4vh 0 4vh 10px;
  flex-grow: 1;
  padding: 12px 15px;
  font-size: 22px;
  transition: .2s
}

/* form button:hover {
  border: 2px solid hsl(356, 82%, 55%);
  outline: none;
  background-color: rgba(234, 41, 56, 0.5);
} */

.reasult {
  width: 100vw;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* color: white; */
  text-align: center;
  background-color: rgba(75, 204, 86, 0.4);
  text-transform: capitalize;
  flex-grow: 1;
}

.temp-p {
  font-size: 60px;
  margin: 0;
  text-shadow: 2px 2px 2px green
}

.discription-p {
  margin: 0;
  font-size: 14px;
}

.reasult img {
  width: 25vw;

}

.actual-weather {
  background-image: url(../img/cloudy.png);
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 2px solid green;
  border-radius: 50%;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
}



.background {
  position: fixed;
  z-index: -1;
  height: 102vh;
  background-color: #2c3e50;
  background-image: url(../img/walking-large.jpg);
  background-size: cover;
  background-position: center;

  width: 100vw;

  filter: blur(0px)
}

.future-weather {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

@media (max-width:321px) {

  form input,
  form button {
    font-size: 15px;
  }

  form button {
    padding: 14px 15px;
  }

  .actual-weather {
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
  }

  .temp-p {
    font-size: 50px;
    margin: 0;
  }
}

@media (min-height:800px) {

  form input,
  form button {
    font-size: 22px;
  }

  form button {
    padding: 14px 15px;
  }

  .actual-weather {
    width: 350px;
    height: 350px;
    /* box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75); */
  }

  .temp-p {
    font-size: 65px;
    margin: 0;
  }

  .discription-p {
    font-size: 20px;
  }

  .logo {
    font-size: 25px;
  }
}

/* ok */
@media (min-width:410px) {
  .logo {
    font-size: 26px;
  }
}

@media (min-height:812px) and (min-width:375px) {
  .logo {
    font-size: 23px;
  }

  form {
    width: 90vw;
  }

  .actual-weather {
    width: 320px;
    height: 320px;
    /* box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75); */
  }
}